<<<<<<< HEAD:SM/static/css/main.css
* {
    /*Reset css*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

.main-container {
    /*Css for container that contains all elements*/
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    border-radius: 14px;
    background-color: antiquewhite;
    height: 100%;
}


/*Css for navigation top that contains ĐHKHTN, ADMIN AND ĐĂNG XUẤT*/

.navigation-top {
    display: flex;
    justify-content: space-between;
}

#KHTN h1 {
    font-size: 30px;
    margin-left: 10px;
}

.choice {
    /*Using to let the list display inline block*/
    display: inline-block;
}

.choice p {
    /*Using to let the list display inline block*/
    display: inline;
    padding: 10px;
}



.choice a {
    color: coral;
}

h2 {
    color: darkgoldenrod;
    padding-inline-start: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 100px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}


/*Because divided into column so using display flex and assign values for waiting
list, information-studen, and other withi 0.2, 0.6, 0.2*/

.waiting-list {
    flex: 0.2;
    border: 1px solid brown;
    border-radius: 4px;
    /*Css for class waiting-list*/
    height: 580px;
    padding: 20px;
    margin: 20px;
}

.info {
    flex: 0.7;
    border: 1px solid brown;
    border-radius: 4px;
    height: 580px;
    padding: 20px;
    margin: 20px;
}

.score {
    flex: 0.3;
    border: 1px solid brown;
    border-radius: 4px;
    height: 580px;
    padding: 20px;
    margin: 20px;
}

.waiting-list p {
    margin: 10px 0px;
    /*Css for class waiting-list and tag p*/
    padding: 14px;
}

#userone {
    /*Css for list user in waiting list to delete underline */
    text-decoration: none;
    padding: 5px;
    color: black;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

#userone:hover {
    background-color: wheat;
    border: 1px solid black;
}

.waiting-list h3 {
    /*Css for class waiting-list and tag h3*/
    font-size: 25px;
}

.information-student {
    flex: 0.6;
    border: 1px solid brown;
    border-radius: 4px;
    /*Css for class information-student*/
    height: 580px;
    padding: 20px;
    margin: 20px;
}

.name-gender {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
}

.information-student h3 {
    font-size: 30px;
}

.information-student p, .info p {
    padding-bottom: 10px;
    font-size: 20px;
}

.btn-tiep-nhan {
    border: 1px solid black;
    border-radius: 5px;
    width: 240px;
    padding: 10px;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.btn-tiep-nhan:hover {
    background-color: coral;
}

.other {
    /*Css for class Other*/
    flex: 0.2;
    height: 580px;
    padding: 20px;
    margin: 10px;
}

.create-list {
    padding-bottom: 20px;
}

.create-list li {
    margin: 10px;
    list-style-type: none;
    margin-left: 40px;
}

.score li {
    margin: 10px;
    list-style-type: none;
    margin-left: 100px;
    font-size: 20px;
}

.create-list h3 {
    padding: 0;
    text-align: start;
}

.create-list a {
    text-decoration: none;
    color: orangered;
}

.edit {
    padding-bottom: 20px;
}

.edit li {
    margin: 10px;
    list-style-type: none;
    margin-left: 40px;
}

.edit a {
    text-decoration: none;
    color: orangered;
    margin: 10px;
}

.edit h3 {
    padding: 0;
    text-align: start;
}

.others {
    padding-bottom: 20px;
}

.others li {
    margin: 10px;
    list-style-type: none;
    margin-left: 40px;
}

.others h3 {
    padding: 0;
    text-align: start;
}

.others a {
    text-decoration: none;
    color: orangered;
    margin: 10px;
=======
* {
    /*Reset css*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

.main-container {
    /*Css for container that contains all elements*/
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    border-radius: 14px;
    background-color: antiquewhite;
    height: 100%;
}


/*Css for navigation top that contains ĐHKHTN, ADMIN AND ĐĂNG XUẤT*/

.navigation-top {
    display: flex;
    justify-content: space-between;
}

#KHTN h1 {
    font-size: 30px;
    margin-left: 10px;
}

.choice {
    /*Using to let the list display inline block*/
    display: inline-block;
}

.choice p {
    /*Using to let the list display inline block*/
    display: inline;
    padding: 10px;
}



.choice a {
    color: coral;
}

h2 {
    color: darkgoldenrod;
    padding-inline-start: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 100px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}


/*Because divided into column so using display flex and assign values for waiting
list, information-studen, and other withi 0.2, 0.6, 0.2*/

.waiting-list {
    flex: 0.2;
    border: 1px solid brown;
    border-radius: 4px;
    /*Css for class waiting-list*/
    height: 580px;
    padding: 20px;
    margin: 20px;
}

.info {
    flex: 0.7;
    border: 1px solid brown;
    border-radius: 4px;
    height: 580px;
    padding: 20px;
    margin: 20px;
}

.score {
    flex: 0.3;
    border: 1px solid brown;
    border-radius: 4px;
    height: 580px;
    padding: 20px;
    margin: 20px;
}



.mon-hoc {
    flex: 0.3;
    height: 580px;
    margin: 20px;
}

.hk1, .hk2 {
    flex: 0.35;
    height: 580px;
    margin: 20px;
}



.waiting-list p {
    margin: 10px 0px;
    /*Css for class waiting-list and tag p*/
    padding: 14px;
}

#userone {
    /*Css for list user in waiting list to delete underline */
    text-decoration: none;
    padding: 5px;
    color: black;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

#userone:hover {
    background-color: wheat;
    border: 1px solid black;
}

.waiting-list h3 {
    /*Css for class waiting-list and tag h3*/
    font-size: 25px;
}

.information-student {
    flex: 0.6;
    border: 1px solid brown;
    border-radius: 4px;
    /*Css for class information-student*/
    height: 580px;
    padding: 20px;
    margin: 20px;
}

.name-gender {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
}

.score h3 {
    padding-bottom: 5px;
}

h4 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
}

.information-student h3 {
    font-size: 30px;
}

.information-student p, .info p {
    padding-bottom: 10px;
    font-size: 20px;
}

.btn-tiep-nhan {
    border: 1px solid black;
    border-radius: 5px;
    width: 240px;
    padding: 10px;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.btn-tiep-nhan:hover {
    background-color: coral;
}

.other {
    /*Css for class Other*/
    flex: 0.2;
    height: 580px;
    padding: 20px;
    margin: 10px;
}

.create-list {
    padding-bottom: 20px;
}



.create-list li {
    margin: 10px;
    list-style-type: none;
    margin-left: 40px;
}

.mon-hoc li, .hk1 li, .hk2 li {
    text-align: center;
    list-style-type: none;
    padding-bottom: 10px;
}

.create-list h3 {
    padding: 0;
    text-align: start;
}

.create-list a {
    text-decoration: none;
    color: orangered;
}

.edit {
    padding-bottom: 20px;
}

.edit li {
    margin: 10px;
    list-style-type: none;
    margin-left: 40px;
}

.edit a {
    text-decoration: none;
    color: orangered;
    margin: 10px;
}

.edit h3 {
    padding: 0;
    text-align: start;
}

.others {
    padding-bottom: 20px;
}

.others li {
    margin: 10px;
    list-style-type: none;
    margin-left: 40px;
}

.others h3 {
    padding: 0;
    text-align: start;
}

.others a {
    text-decoration: none;
    color: orangered;
    margin: 10px;
>>>>>>> 657af93be21ee171d0baa9f91001a7d45eec2629:SM/Student/templates/Student/styles.css
}