{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>Chỉnh sửa thông tin</title>
</head>

<body>
	<div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào {{request.user}} <a href="{% url 'logout' %}">Đăng xuất</a></p>
            </div>
        </div>
        <h2>CHỈNH SỬA THÔNG TIN</h2>
		<div class="content">
			<div class="edit-info">
				<div class="edit-info-i">
					<label for="ho-ten">Họ tên: </label>
					<input type="text" id="ho-ten">
				</div>
				<div class="edit-info-i">
					<label for="gioi-tinh">Giới tính: </label>
					<select id="gioi-tinh">
						<option>Nam</option>
						<option>Nữ</option>
					</select>
				</div>
				<div class="edit-info-i">
					<label for="ngay-sinh">Ngày sinh: </label>
					<input type="text" id="ngay-sinh">
				</div>
				<div class="edit-info-i">
					<label for="email">Email: </label>
					<input type="text" id="email">
				</div>
				<div class="edit-info-i">
					<label for="dia-chi">Địa chỉ: </label>
					<input type="text" id="dia-chi">
				</div>
				<button type="submit" class="btn-tiep-nhan-1">Xác nhận</button>
			</div>
		</div>

	</div>

</body>