{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>Chỉnh sửa thông tin</title>
</head>

<body>
	<div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào {{request.user}} <a href="{% url 'logout' %}">Đăng xuất</a></p>
            </div>
        </div>
        <h2>CHỈNH SỬA THÔNG TIN</h2>
		<div class="content">
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
                <br>
                <h4>Học kỳ 1</h4>
				{{form1.as_p}}
<!--                 <br>
                <h4>Học kỳ 2</h4>
                {{form2.as_p}} -->
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
            
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <h4>Học kỳ 2</h4>
                {{form2.as_p}}
            <input class="btn btn-primary" type="submit" name="Update Information">
            </form>
		</div>

	</div>

</body>