{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>Danh sách lớp</title>
</head>

<body>
    <div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào {{request.user}} <a href="{% url 'logout' %}">Đăng xuất</a></p>
            </div>
        </div>
        <h2>DANH SÁCH LỚP</h2>
        <div class="content">
            <div class="class-list">
                {% for i in classes %}
                <p><a id="classone" href="{% url 'createListStudent' curClasses=i.name%}">{{i.name}}</a></p>
                {% endfor %}
            </div>
            <div class="class-info">
                <div class="content">
                    <div class="ho-ten">
                        <p>Họ tên</p>
                        <ul>
                            {% for i in students %}
                            <li>{{i.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="diem-hk1">
                        <p>TB học kỳ 1</p>
                        <ul>
                            {% for i in avgScores1 %}
                            <li>{{i}}</li>
                            {% endfor %}   
                        </ul>
                    </div>
                    <div class="diem-hk2">
                        <p>TB học kỳ 2</p>
                        <ul>
                            {% for i in avgScores2 %}
                            <li>{{i}}</li>
                            {% endfor %}   
                        </ul>
                    </div>
                    <div class="chinh-sua">
                        <p>Chỉnh sửa</p>
                        <ul>
                            <li>{% for i in students %}
                                <button type="submit" class="edit-diem"><a href="{% url 'changeScore' id=i.id%}">Sửa</a></button>
                                {% endfor %} 
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


</body>