{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>Danh sách lớp</title>
</head>

<body>
    <div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào {{request.user}} <a href="{% url 'logout' %}">Đăng xuất</a></p>
            </div>
        </div>
        <h2>DANH SÁCH LỚP</h2>
        <div class="content">
            <div class="class-list">
                <p><a id="classone" href="{% url 'createListStudent' classes.name %}">12A1</a></p>
                <p>Lớp 2</p>
                <p>Lớp 3</p>
                <p>Lớp 4</p>
            </div>
            <div class="class-info">
                <div class="content">
                    <div class="ho-ten">
                        <p>Họ tên</p>
                        <ul>
                            <li>Đinh Nhật Tường</li>
                            <li>Đinh Nhật Tường</li>
                            <li>Đinh Nhật Tường</li>
                            <li>Đinh Nhật Tường</li>
                            <li>Đinh Nhật Tường</li>
                        </ul>
                    </div>
                    <div class="diem-hk1">
                        <p>TB học kỳ 1</p>
                        <ul>
                            <li>2</li>
                            <li>6</li>
                            <li>5.1</li>
                            <li>1.5</li>
                            <li>1</li>
                        </ul>
                    </div>
                    <div class="diem-hk2">
                        <p>TB học kỳ 2</p>
                        <ul>
                            <li>0.5</li>
                        </ul>
                    </div>
                    <div class="chinh-sua">
                        <p>Chỉnh sửa</p>
                        <ul>
                            <li>
                                <button type="submit" class="edit-diem"><a href="">Sửa</a></button>
                            </li>
                            <li>
                                <button type="submit" class="edit-diem"><a href="">Sửa</a></button>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


</body>