<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Chỉnh sửa điểm</title>
</head>

<body>
    <div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào Tường, <a href="">Đăng xuất</a></p>
            </div>
        </div>
        <h2>CHỈNH SỬA ĐIỂM</h2>
        <div class="content">
			<div class="edit-info">
				<div class="edit-score">
					<label for="ho-ten">Họ tên: </label>
					<input type="text" id="ho-ten">
				</div>
				
				<div class="edit-score">
					<label for="toan">Toán: </label>
					<input type="text" id="toan">
				</div>
				<div class="edit-score">
					<label for="ly">Lý: </label>
					<input type="text" id="ly">
				</div>
				<div class="edit-score">
					<label for="hoa">Hóa: </label>
					<input type="text" id="hoa">
				</div>
				<button type="submit" class="btn-tiep-nhan-2"><a href="">Xác nhận</a></button>
			</div>
		</div>


    </div>


</body>