{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>Đăng nhập</title>
</head>

<body>
	<div class="main-container-login">
		<div class="content">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">ĐĂNG NHẬP</h3>
				</div>
				<div class="login-center">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="nut-login">
				 				<input class="btn login_btn" type="submit" value="Login">
				   			</div>
					</form>
					{% for message in messages %}
					<p id = "messages">{{message}}</p>
					{%endfor%}
				</div>
				
				<div class="login-center-1">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
					</div>
					<br>
					<div class="d-flex justify-content-center links">
						Search student score here. <a href="{% url 'searchStudent' %}" class="ml-2">Search</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>