{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>Trang chủ</title>
</head>

<body>
    <div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào {{request.user}} <a href="{% url 'logout' %}">Đăng xuất</a></p>
            </div>
        </div>
        <h2>THÔNG TIN HỌC SINH</h2>
            <div class="content">
                <div class="info">
                    <h3>Thông tin</h3>
                    <div class="name-gender">
                        <p>Họ và Tên: {{request.user.Student.name}}</p>
                        <p>Giới tính: Nam</p>
                    </div>
                    <p>Ngày sinh: {{request.user.Student.birthday}}</p>
                    <p>Địa chỉ: {{request.user.Student.house_location}}</p>
                    <p>Email: {{request.user.Student.email}}</p>
                    <button type="submit" class="btn-tiep-nhan"><a href="{% url 'studentSetting' %}">Chỉnh sửa thông tin</a></button>
                </div>
                <div class="score">
                    <h3>Điểm số</h3>
                    <div class="content">
                        <div class="mon-hoc">
                            <h4>Môn học</h4>
                            <ul>
                                <li>Toán</li>
                                <li>Lý</li>
                                <li>Hóa</li>
                                <li>Sinh</li>
                                <li>Sử</li>
                                <li>Địa</li>
                                <li>Văn</li>
                                <li>Đạo đức</li>
                                <li>Thể dục</li>
                            </ul>
                        </div>
                        <div class="hk1">
                            <h4>Học kỳ 1</h4>
                            <ul>
                                <li>{{hk1.Toan}}</li>
                                <li>{{hk1.Ly}}</li>
                                <li>{{hk1.Hoa}}</li>
                                <li>{{hk1.Sinh}}</li>
                                <li>{{hk1.Su}}</li>
                                <li>{{hk1.Dia}}</li>
                                <li>{{hk1.Van}}</li>
                                <li>{{hk1.Daoduc}}</li>
                                <li>{{hk1.TheDuc}}</li>
                            </ul>
                        </div>
                        <div class="hk2">
                            <h4>Học kỳ 2</h4>
                            <ul>
                                <li>{{hk2.Toan}}</li>
                                <li>{{hk2.Ly}}</li>
                                <li>{{hk2.Hoa}}</li>
                                <li>{{hk2.Sinh}}</li>
                                <li>{{hk2.Su}}</li>
                                <li>{{hk2.Dia}}</li>
                                <li>{{hk2.Van}}</li>
                                <li>{{hk2.Daoduc}}</li>
                                <li>{{hk2.TheDuc}}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <ul>
                        <li>Toán: 10.0</li>
                        <li>Lý: 10.0</li>
                        <li>Hóa: 10.0</li>
                    </ul> -->
                    
                </div>


            </div>





    </div>
            

</body>