<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Thông tin học sinh</title>
</head>

<body>
    <div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào Tường, <a href="">Đăng xuất</a></p>
            </div>
        </div>
        <h2>TIẾP NHẬN HỌC SINH</h2>
        <div class="content">
            <div class="waiting-list">
                <h3>Danh sách chờ</h3>
                <p><a href="./index.html" id="userone">Đinh Nhật Tường</a></p>
                <p>Họ tên 2</p>
                <p>Họ tên 3</p>
                <p>Họ tên 4</p>
            </div>
            <div class="information-student">
                <h3>Thông tin học sinh</h3>
                <div class="name-gender">
                    <p>Họ và Tên: Đinh Nhật Tường</p>
                    <p>Giới tính: Nam</p>
                </div>
                <p>Ngày sinh: 30/2/2023</p>
                <p>Địa chỉ: 135 Đ.Nam Kỳ Khởi Nghĩa, Phường Bến Thành, Quận 1, Thành Phố Hồ Chí Minh</p>
                <p>Email: nnduc@fit.hcmus.edu.vn</p>
                <button type="submit" class="btn-tiep-nhan">Tiếp nhận học sinh</button>
            </div>
            <div class="other">
                <div class="create-list">
                    <h3>Lập danh sách</h3>
                    <ul>
                        <li><a href="">Danh sách lớp</a></li>
                        <li><a href="">Danh sách môn</a></li>
                    </ul>
                </div>
                <div class="edit">
                    <h3>Chỉnh sửa</h3>
                    <ul>
                        <li><a href="">Thông tin lớp</a></li>
                        <li><a href="">Điểm chuẩn</a></li>
                        <li><a href="">Quy định</a></li>
                    </ul>
                </div>
                <div class="others">
                    <h3>Khác</h3>
                    <ul>
                        <li><a href="">Xuất TKB</a></li>
                        <li><a href="">Xuất lịch dạy</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>