<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Tra cứu học sinh</title>
</head>

<body>
    <div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào Tường, <a href="">Đăng xuất</a></p>
            </div>  
        </div>
        <h2>TRA CỨU HỌC SINH</h2>
            <div class="content">
                <div class="search">
                    <div>
                        <h3>Nhập tên: 
                            <input type="text">
                        </h3>
                    </div>
                    <div>
                            <input type="radio" name="choice-search" id="choice1">
                            <label for="choice1">Có chứa</label>
                            <input type="radio" name="choice-search" id="choice2">
                            <label for="choice2">Bằng</label>
                            
                    </div>
                    
                </div>
            </div>
            <button type="submit" class="btn-tiep-nhan-1">Tìm kiếm</button>
            <div class="content">
                <div class="info-name">
                    <h4>Họ tên</h4>
                    <p>Đinh Nhật Tường</p>
                </div>
                <div class="score-name">
                    <h4>Điểm trung bình</h4>
                    <div class="content">
                        <div class="hk-tb">
                            <p>Học kỳ 1</p>
                            <ul>
                                <li>10.0</li>
                            </ul>
                        </div>
                        <div class="hk-tb">
                            <p>Học kỳ 2</p>
                            <ul>
                                <li>0.10</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


    </div>


</body>