<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Trang chủ</title>
</head>

<body>
    <div class="main-container">
        <div class="navigation-top">
            <div id="KHTN">
                <h1>TRƯỜNG ĐH KHOA HỌC TỰ NHIÊN</h1>
            </div>
            <div class="choice">
                <p>Xin chào Tường, <a href="">Đăng xuất</a></p>
            </div>
        </div>
        <h2>THÔNG TIN HỌC SINH</h2>
            <div class="content">
                <div class="info">
                    <h3>Thông tin</h3>
                    <div class="name-gender">
                        <p>Họ và Tên: Đinh Nhật Tường</p>
                        <p>Giới tính: Nam</p>
                    </div>
                    <p>Ngày sinh: 30/2/2023</p>
                    <p>Địa chỉ: 135 Đ.Nam Kỳ Khởi Nghĩa, Phường Bến Thành, Quận 1, Thành Phố Hồ Chí Minh</p>
                    <p>Email: nnduc@fit.hcmus.edu.vn</p>
                </div>
                <div class="score">
                    <h3>Điểm số</h3>
                    <div class="content">
                        <div class="mon-hoc">
                            <h4>Môn học</h4>
                            <ul>
                                <li>Toán</li>
                                <li>Lý</li>
                                <li>Hóa</li>
                            </ul>
                        </div>
                        <div class="hk1">
                            <h4>Học kỳ 1</h4>
                            <ul>
                                <li>10.0</li>
                                <li>9.0</li>
                                <li>8.0</li>
                            </ul>
                        </div>
                        <div class="hk2">
                            <h4>Học kỳ 2</h4>
                            <ul>
                                <li>8.0</li>
                                <li>9.0</li>
                                <li>10.0</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <ul>
                        <li>Toán: 10.0</li>
                        <li>Lý: 10.0</li>
                        <li>Hóa: 10.0</li>
                    </ul> -->
                    
                </div>


            </div>





    </div>
            

</body>